.SlideContainer {
    position: relative;
    width: 100%;
}

.slide-show-text {
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    /* font-family: "Rajdhani Semibold"; */
    font-size: 2.5em;
    color: white;
    text-align: center;
    padding: 10px;
    background-color: rgba(100, 100, 0, 0.3);
    backdrop-filter: blur(10px); /* Add blur effect */
    width: 100%;
    zIndex: 0;
    transition: 1s ease-in-out;
}
