.exam{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}
.exam>img{
    height: 400px;
}
.exam>div>a{
    text-decoration: none;
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
}
div a {
    width: fit-content;
    display: flex;
    align-items: center;
    margin-left: 130px;
    gap: 10px;
}
div a img{
height: 40px;
}
@media (max-width:768px){
    .exam{
        width: 70%;
        flex-direction: column;
        text-align: center;
        margin: auto;
        margin-top: 50px;
    }
    
}